@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600;700&display=swap');
$fontMain:'Roboto Mono',
monospace;
$fontColor:#EDF4F4;
$backgroundColor:#222333;
$fontSize:.9rem;